* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculatorValues {
  /* border: 2px black solid; */
  /* padding: 1rem; */
}

.display {
  /* padding: 1rem; */
  border: 2px black solid;
  background-color: brown;
  color: white;
}

.calculatorBorder {
  padding: 3rem;
  border: 2px black solid;
}

.calculatorBorder input[type="text"] {
  padding: 0.5rem 3rem;
  outline: 3rem;
}

.row1 {
  display: flex;
  justify-content: space-around;
}

.row1_9 {
  border: 2px black solid;
  padding: 1rem;
}

.signs {
  display: flex;
}

.signs {
  flex-direction: column;
}

.calculatorMain {
  border: 2px black solid;
  display: flex;
  justify-content: space-around;
}

.row2 {
  background-color: red;
}

.number,
.eqsigns {
  padding: 1.5rem;
}

.eqsigns {
  background-color: rgb(2, 21, 8);
  color: white;
}
